//Tablet
@import "susy";
@media (min-width: 940px) {
   main{
      max-width: 940px;
      margin: 0 auto;
      .js_slider, .js_slider-one, .js_slider-two {
         margin: 0;
      }
      .step{
         &__sliders{
            justify-content: space-around;
         }
      }
      .partner{
         &__partners{
            flex-wrap: nowrap;
            justify-content: space-around;
            width: span(12);
            margin: 0;
            &-item{
               width: span(3);
            }
         }
      }
   }
}
